

body {
  background: blanchedalmond;
  text-align: center;
  font-size: 4em;
  /* max-width: 50%; */
  margin: 0;
}
.container{
  display: flex;
  flex-direction:column;
height: 100vh;
}
.a,.c {
  background-color: #d8d8d8; 
  margin: 40px;
  min-height: 15%;
  padding-top: 25px;
  border: 1px solid black;
}
.b {
  background-color: #d8d8d8; 
  margin: 40px;
  height: 30%;
  padding-top: 3em;
  border: 1px solid black;
} 


@media(min-width: 600px) {
   
   .container {
    border: 1px solid black;
    flex-direction: row;
    flex-wrap: wrap;
  }
.a{
  width: 100%;
}
.b{
  width: 60%;
  height: 45%;
}
.c{
  width: 29%;
  padding-top: 15%;
}

}